/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html, body, .container-fluid
{
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}
.selectAbsolute-en{
    position: absolute !important;
    margin-left: 80% !important;
}
.selectAbsolute-ar{
    position: absolute !important;
    margin-right: 80% !important;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;
    overflow-x: hidden;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
  
	font-family: 'Montserrat Alternates', sans-serif;
}
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}
.card-body{
    background-color: #a9a9a9;
}
.card{
    border: none;
    background-color: #000;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.topnav {
    overflow: hidden;
    /* background-color: #333; */
    position: relative;
    
  }
  
  .topnav #myLinks {
    display: none;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 50000;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: transparent;
    color: white;
  }
.frame{
    width:75%;
    height: 100%;
    border: 1px solid #000;
    background-color: #000;
}
.middle{
    margin-left:auto;
   margin-right:auto;
    text-align: center;
    padding-top: 1em;
    
}


   h1 {
    font-size: 3em;
    text-align: center;
    color: #C31E2C;
    font-weight: 800;
    /* text-transform: uppercase; */
    letter-spacing: 7px;
    font-family: 'Montserrat Alternates', sans-serif;
    overflow: hidden
}
h1 span {
    color:#C31E2C;
}
/*-- main --*/
.main-agile {
    background: url("../images/family.jpg");
	height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
     /* padding: 1em 0; */
} 
a.ex1:hover{
    color:#fff;
}
.animateColor {
   
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
  }
  
  @-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: #fff; }
    100% { color: red; }
}
.w3ls-grids{
    width: 65%;
    /* margin: 1em auto; */
}
.w3ls-right1{
    float: left;
    width: 50%;
    text-align: center;
    position: relative;
    
    margin-top: 2em;
    margin-left: 7em
}
.w3ls-right1-ar{
    padding-left: 15px;
    padding-right: 15px;
    float: right;
    width: 50%;
    text-align: center;
    position: relative;
    
    margin-top: 2em;
    margin-right: 7em
}
.w3ls-dot{
	padding: 2em 2em;
}
.w3ls-right1 h2{
    color:#C31E2C;
    font-size: 1.2em;
    margin: 0 0 0 0;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    font-size: 31px;
    font-weight: normal;
	text-transform: capitalize;
}
.w3ls-right1-ar h2{
    color:#C31E2C;
    font-size: 1.2em;
    margin: 0 0 0 0;
	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
    font-size: 31px;
    font-weight: normal;
	text-transform: capitalize;
}
.w3ls-right{
    float: left;
    width:60%;
}
.w3-heading h3 {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.21);
    letter-spacing: 5px;
    line-height: 1.5em;
    color: #C31E2C;
    font-size: 3.3em;
    font-weight: 700;
}

.w3-heading h4 {
    font-size: 2em;
    color: #fff;
	line-height: 1.5em;
}
.w3-heading p {
    margin: 1em 0 0 0;
	color: #ffffffd1;
}
.w3l-dot {
    padding: 4em 0em 0em 0!important;
}
.agileits-nav{
	text-align:center;
}
.agileits-nav ul{
	padding:0;
	margin:0;
}
.agileits-nav ul li{
	display:inline-block;
	margin-left:1em;
}
.agileits-nav ul li:nth-child(1){
	margin-left:0;
}
.handView:hover{
    cursor: pointer;
}
.show{
    display: none;
}
.agileits-nav ul li a{
	color:#FFFFFF;
	font-size:.9em;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-nav ul li a:hover{
	color:#ff9800;
}
.w3ls-banner-shadow {
	text-align: center;
    margin: 3em auto;
    width: 70%;
}
.w3ls-banner-shadow h3{
	font-size: 2em;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 9;
    letter-spacing: 7px;
}
.w3ls-banner-shadow p{
    font-size: .9em;
    color: #FFFFFF;
    z-index: 9;
    margin: 1em 0 0 0;
}

/*-- /submit --*/
.content3 a {
    background: #50e5228f;
    font-size: 16px;
    padding: 12px 30px;
    display: initial;
    border-radius: 30px;
	transition:0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content3 a:hover{
    background: #1cc7d0;
}
.content3  a{
    color: #fff;
}

.content3 a:focus{
    outline: none;
}

h3.sub-head-w3-agileits {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}
input[type="email"] {
    background: rgba(0, 0, 0, 0.55) url(../images/email.png) no-repeat 10px 10px;
    background-size: 30px;
	width: 94%;
    padding: 15px 10px 15px;
    font-size: 14px;
    background: black;
    outline: none;
    margin-bottom: 26px;
    color: #fff;
	
}
input[type="Submit"] {
    width: 40%;
    margin: 0 auto;
    background:#50e522;
    outline: none;
    color: #fff;
    margin: 0px 0px 18px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 11px 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
}

.icon {
    text-align: center;
}
.icon span.fa {
    font-size: 40px;
    margin-bottom: 20px;
	color: #888;
}
.container-w3 {
    width: 42%;
    padding: 3em;
    /* margin: 3em auto; */
    float: left;
}
/*-- /submit --*/
.w3-title{
    text-align: center;
    margin: 0 0 2em 0;
}
 .w3-title h2, .wthree-title h2 {
    color: #fd5c63;
    font-size: 2.5em;
    margin: 0;
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 1px 4px 11px rgba(82, 96, 101, 0.25);
    letter-spacing: 4px;
}
.w3-title p,.wthree-title p{
    color: #212121;
    font-size: .9em;
    margin: .5em 0 0 0;
}
.wthree-title h2,.wthree-title p{
	color:#FFFFFF;
}
#logo {
    display: block;
    width: 12em;
    height: 6em;
    margin-left: 16em;
    
}
.width100{
    width: 100%;
}
.container-fluid {
    padding: 0;
}
.margin{
    margin:2em;
}
.login-w3l {
    width: 100%;
    height: 100%;
	padding: 2em;
    background: rgb(0, 0, 0);
    border-radius: 18px;
    margin-bottom: 2em;
    /* -webkit-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 16px 0px rgba(255, 255, 255, 0.1); */
	background-color: rgba(0, 0, 0, 0.3);
}
.float{
	position:fixed;
	width:15%;
	height:5%;
	bottom:40px;
	right:40px;
	background-color:#C31E2C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10000;
    overflow: hidden;
    justify-content: space-around;
}
.float-ar{
	position:fixed;
	width:15%;
	height:5%;
	bottom:40px;
	left:40px;
	background-color:#C31E2C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 10000;
    overflow: hidden;
    justify-content: space-around;
}
.img {
    
    width:420px;
    height:315px;
    
}
a:hover{
	
	color:#FFF;
	
}
.my-float{
	margin-top:5px;
}
.inner-banner {
    background: url(../images/banner12.jpg) 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 200px;
    position: relative;
}
.codeInput{
    width: 100%;
    padding: 10px;
    border: none;
    border-left: 1px solid #C31E2C;
    outline: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    background: rgba(45, 45, 45, 0.35);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
	border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.borderRed{
    border: 1px solid #C31E2C;
}
.login-form input[type="date"],.login-form input[type="number"],.login-form input[type="password"],.login-form input[type="text"], .login-form textarea, .login-form input[type="email"]{
    width: 49%;
    padding: 10px;
    border: none;
    border-left: 1px solid #C31E2C;
    outline: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    background: rgba(45, 45, 45, 0.35);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    font-family: 'Montserrat', sans-serif;
	border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-form input[type="text"]:hover, .login-form textarea:hover, .login-form input[type="email"]:hover {
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.1);
}
.login-form textarea{
	resize:none;
	height:50px;
}
nav a{
    background: #fff;
    color: #fff;
    font-size: 18px;
    border: none;
    text-transform: capitalize;
    border: 2px solid #fff;
    width: 50%;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 13px 0;
    letter-spacing: 1px;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
	background-color: transparent;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.3);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
nav a:hover {
    background: #C31E2C;
    color:#fff
}
.nav-pills .nav-link.active {
    background: #C31E2C;
    color:#fff
}
button.toast-button {
    float: right;
  }
.login-form input[type="submit"],.login-form input[type="button"],.btn, .btn-primary,.login-form button,.modalbutton {
    background: #C31E2C;
    color: #fff;
    font-size: 18px;
    border: none;
    text-transform: capitalize;
    border: 2px solid #C31E2C;
    width: 100%;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 13px 0;
    letter-spacing: 1px;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
	/* background-color: transparent; */
    color: #fff;
    border-color: rgba(255, 255, 255, 0.3);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.btn, .btn-primary:hover { 
    background: #C31E2C;
    border: 2px solid #C31E2C;
}
/* .login-form input[type="submit"]:hover {
    background: #C31E2C;
} */
.book-form input[type="text"],.book-form input[type="email"],.book-form input[type="password"]{
	width: 94%;
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #7d7d7d;
    outline: none;
    font-size: 14px;
	letter-spacing: 1px;
    margin-bottom: 20px;
	background:transparent;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
	color:#000!important;
}

/*-- //login --*/
::-webkit-input-placeholder{
	color:#adb2bd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #adb2bd; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #adb2bd;  
}

:-ms-input-placeholder {  
   color: #adb2bd;  
}
.copyright{
	text-align:center;
}
.copyright p{
    color: #FFFFFF;
    margin: 5em 0 0 0;
    font-size: 1.2em;
}
.copyright p a{
    color: #C31E2C;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copyright p a:hover{
	color:#FFFFFF;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*-- responsive --*/
@media(max-width:1440px){
	.w3ls-grids {
		width: 65%;
    }
    .container-fluid {
        padding: 0;
    }
    
}
@media(max-width:1366px){
	.w3ls-grids {
		width: 70%;
    }
    .container-fluid {
        padding: 0;
    }
}
@media(max-width:1280px){
	.w3ls-banner-shadow h3 {
		letter-spacing: 4px;

    }
    .container-fluid {
        padding: 0;
    }
}
@media(max-width:1080px){
	.w3ls-grids {
		width: 80%;
    }
    .container-fluid {
        padding: 0;
    }
	.w3-heading h3 {
    font-size: 3.1em;
    }
}
@media(max-width:1024px){
	.w3ls-grids {
		width: 85%;
    }
    .container-fluid {
        padding: 0;
    }
}
@media(max-width:991px){
	.clock .column {
		width: 19%;
    }
    .container-fluid {
        padding: 0;
    }
	.w3-heading h3 {
    font-size: 2.8em;
     }
}
@media(max-width:900px){

	.w3ls-banner-shadow h3 {
		letter-spacing: 2px;
	}
	.clock .column {
		width: 18%;
    }
    .container-fluid {
        padding: 0;
    }
}
@media(max-width:800px){
    .float-ar{
        width:30%
    }
    .selectLang{
        background-color: #d3d3d3;
        color:#fff;
    }
    .selectLang:active,.selectLang:focus{
        background-color: #d3d3d3;
        color:#fff;
    }
    .margin-top{
        margin-top: 4%;;
    }
    .main-agile{
        background-position: center;
    }
    .logoWidth{
        width:50%;
    }
    .selectAbsolute-en{
        margin-left: 70% !important;
    margin-right: auto;
    
    position: static;
    }
    .selectAbsolute-ar{
        margin-right: 70% !important;
    margin-left: auto;
    
    position: static;
    }
	.w3ls-right {
		float: none;
		width: 100%;
		margin-bottom: 3em;
	}
	.w3ls-right1 {
		float: none;
		width: 100%;
    }
    .w3ls-right1-ar {
		float: none;
        width: 100%;
        margin-right: 0;
	}
	.w3ls-grids {
		width: 75%;
	}
	.clock .column {
		width: 21%;
    }
    .container-fluid {
        padding: 0;
    }
	.w3ls-grids {
    width: 60%;
    /* margin: 3em auto; */
   }
   .w3l-dot {
    padding: 2em 0em 2em 0!important;
}
h1 {
    font-size: 3em;
    letter-spacing: 1px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Montserrat Alternates', sans-serif;
}
.w3-heading h3 {
    font-size: 2.4em;
}	
.w3ls-grids {
    width: 76%;
    /* margin: 3em auto; */
}
.hide{
    display: none;
}
.show{
    display: block;
}
}
@media(max-width:768px){
    .hide{
        display: none;
    }
    .show{
        display: block;
    }
.clock .column {
    width: 20%;
}
.container-fluid {
    padding: 0;
}
}
@media(max-width:667px){
	.clock .column {
		width: 20.5%;
    }
    .container-fluid {
        padding: 0;
    }
	h1 {
    font-size: 2.5em;
}
.clock .column {
    width: 19.5%;
}
.timer {
    font-size: 2.5em;
}
h1 {
    font-size: 2.2em;
    letter-spacing: 1px;
}

}
@media(max-width:600px){
	.clock .column {
		width: 20%;
	}
	
	.clock .column {
    width: 18%;
 }
 .container-fluid {
    padding: 0;
}
 .w3-heading h3 {
    font-size: 2.2em;
}

.text {
    font-size: .9em;
    letter-spacing: 0.1px;
}
.w3l-dot {
    padding: 0em 0em 2em 0!important;
}
.w3ls-right1{
    margin-left: 0em;
}
/* .w3ls-right1-ar{
    margin-left: 0em;
} */
 #logo{
    margin-left: auto;
    margin-right: auto;
} 
.float{
    width: 34%;
}
}
@media(max-width:568px){
    .login-form input[type="date"], .login-form input[type="number"], .login-form input[type="password"], .login-form input[type="text"], .login-form textarea, .login-form input[type="email"] {
        width: 100%;}
	.w3ls-grids {
		width: 80%;
	}
	h1 {
		font-size: 2em;
	}
	.w3-heading h3 {
    font-size: 2em;
    }
    .container-fluid {
        padding: 0;
    }
}
@media(max-width:480px){
	.w3ls-banner-shadow h3 {
		font-size: 1.5em;
		letter-spacing: 4px;
	}
	.w3ls-banner-shadow {
		width: 75%;
	}
	.clock .column {
		width: 19%;
	}
	h1 {
    letter-spacing: 4px;
    }
    .container-fluid {
        padding: 0;
    }
/* .main-agile {
    padding: 3em 0;
} */
.w3ls-grids {
    width: 86%;
    /* margin: 2em auto; */
}
.w3-heading h3 {
    font-size: 1.7em;
}
.copyright p {
    color: #FFFFFF;
    margin: 3em 0 0 0;
    font-size: 1em;
}
}
@media(max-width:414px){
	.w3l-dot {
		padding: 2em 1em !important;
	}
	.w3ls-banner-shadow h3 {
		letter-spacing: 3px;
	}
	.callbacks_tabs {
		left: 39%;
	}
	.clock .column {
		width: 42%;
    }
    .container-fluid {
        padding: 0;
    }
	.w3ls-dot {
		padding: 2em 2em;
	}
	.newsletter input[type="email"] {
		width: 60%;
	}
	h1 {
    letter-spacing: 2px;
    }
	.w3-heading h3 {
    font-size: 1.8em;
   }
   .w3-title h2, .wthree-title h2 {
    font-size: 2em;
 }
 .w3-heading h3 {
    font-size: 1.4em;
    letter-spacing: 2px;
}
.w3-heading h4 {
    font-size: 1.4em;
    color: #fff;
    line-height: 1.5em;
}
.w3-heading p {
    margin: 1em 0 0 0;
    color: #ffffffd1;
    line-height: 1.8em;
}
}
@media(max-width:384px){
	.w3ls-banner-shadow h3 {
		font-size: 1.3em;
	}
	h1 {
		font-size: 1.5em;
	}
	h1 {
    font-size: 1.8em;
    letter-spacing: 0px;
    }
	.w3-heading h4 {
    font-size: 1.8em;
    color: #fff;
     }
}
@media(max-width:375px){
	.w3-title {
		margin: 0 0 2em 0;
	}
	.w3ls-banner-shadow {
		margin: 2em auto;
	}
	.newsletter {
		margin: 2em auto 0;
	}
	.copyright p {
    margin: 2em 0 0 0;
    }
	h1 {
    font-size: 1.5em;
    letter-spacing: 0.5px;
    }
	.w3l-dot {
    padding: 1em 1em !important;
    }
}
@media(max-width:320px){
	.agileits-nav ul li {
		margin-left: .4em;
	}
	.w3ls-banner-shadow h3 {
		font-size: 1em;
	}
	.w3ls-banner-shadow {
		width: 90%;
	}
	.callbacks_tabs {
		left: 34%;
	}
	.clock .column {
		width: 39%;
	}
	.newsletter input[type="email"] {
		width: 58%;
	}
	h1 {
    font-size: 1.7em;
    letter-spacing: 0px;
     }
	 .w3ls-grids {
    width: 98%;
    /* margin: 2em auto; */
    }
	.w3-heading h3 {
    font-size: 1.6em;
   }
   .w3-heading h4 {
    font-size: 1.6em;
    }
	.w3l-dot {
    padding: 1em 1em !important;
    }
	.w3-heading h4 {
    font-size: 1.3em;
   }
   .w3-heading h4 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    }
	.copyright p {
    color: #FFFFFF;
    margin: 2em 0 0 0;
    font-size: 1em;
    }
	.content3 a {
    color: #fff;
    margin-left: 1em;
}
h1 {
    font-size: 1.5em;
    letter-spacing: 6px;
}
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #C31E2C;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
/*-- //responsive --*/



  /* navbarstyle  */
  .local-en{
    left: 50px;
    border-right: 1px solid #000;
  }
  
  
  .sidenav {
      z-index: 1000;
      display: none;
      height: 100%;
      width: 220px;
      position: fixed;
      z-index: 1004;
      top: 0;
  
      color: #C31E2C;
      background-color: #000;
      overflow-x: hidden;
      padding-top: 60px;
  
      box-shadow: 2px 0px #000;
  }
  .langimg{
      width: 16px
  }
  .local-en a {
      padding: 16px 8px 8px 32px;
      text-decoration: none;
      font-family:'Maven Pro',sans-serif;
      font-weight:500;
      font-size: 16px;
  
      color: #C31E2C;
      display: block;
  }
  
  .local-en a:hover {
      color: #000;
      background-color: #C31E2C;
  }
  
  .sidenav:open{
      color: #000;
      background-color: #C31E2C;
  }
  
  
  .local-en a p{
      font-size: 12px;
  }
  
  
  .tab-en {
      z-index: 1000;
      float: left;
      margin-top: -0.1%;
     position: fixed;
      background-color: #000;
      width: 50px;
      height: 100%;
      left:0;
  }
  
  .bar-en{
    font-size: 30px;
      cursor: pointer;
      padding-left: 9px;
      color: #C31E2C;
  }
  
  
  .smart-en{
      position: fixed;
   font-family: 'Maven Pro', sans-serif;
   width: 233px;
   height: 214px;
   bottom: 3%;
   z-index: 2000;
   /* -webkit-transform: rotate(90deg); */
   transform: rotate(270deg);
   margin-top: 28%;
   color: #C31E2C;
  }
  .r-en{
      display: none;
  }
  
  /* responsive */
  @media screen and (max-width: 1351px) {
  
  
    .smart-en{
      margin-top: 20%;
    }
  
  }
  @media screen and (max-width: 1258px) {
  
  
    .smart-en{
      margin-top: 22%;
    }
  
  }
  @media screen and (max-width: 1160px) {
  
  
    .smart-en{
      margin-top: 23%;
    }
  
  }
  
  
  @media screen and (max-width: 1070px) {
  
  
    .smart-en{
      margin-top: 26%;
    }
  
  }
  
  @media screen and (max-width: 900px) {
  
  
    .smart-en{
      margin-top: 26%;
    }
  
  }
  
  @media screen and (max-width: 786px) {
  
    .smart-en{
      margin-top: 35%;
    }
  
  
  
  
  }
  
  @media screen and (max-width: 686px) {
  
      .tab-en{
          width: 100%;
          height: 80px;
          margin-top: -1px;
                 z-index: 995;
          background-color: #ffffff;
          position: fixed;
      }
      .smart-en{
          display: none;
  
      }
      .bars-en{
          padding-top: 28px;
          padding-left: 6px;
      }
      .sidenav{
          z-index: 1000;
          display: none;
          height: auto;
          width: 100%;
          position: fixed;
          top: 11%;
          left: 0px;
          background-color: white;
          overflow-x: hidden;
          padding-top: 40px;
          border-right: 1px solid #000;
          box-shadow: 2px 0px #a7bcd6;
              z-index: 3;
      }
      .r-en {
  
  
          position: fixed;
          margin-top: -13%;
          display: block;
          width: 22%;
          left: 64%;
  
      }
      .local-en a {
              padding: 10px 10px 10px 36px;
          font-size: 13px;
      }
  }
  @media screen and (max-width: 480px) {
      .sidenav{
          top: 9%;
  
      }
  
  }
  
  @media screen and (max-width: 420px) {
      .sidenav{
          top: 9%
  
      }
      .r-en {
          position: fixed;
          margin-top: -16%;
          display: block;
          width: 26%;
          left: 64%;
      }
      .tab-en {
         
          padding-top: 8px;
         
      }
  
  }
  
  @media screen and (max-width: 375px) {
  
     .sidenav{
          top: 9%
  
      }
  
  }
  
  
  @media screen and (max-width: 360px) {
     .sidenav{
          top: 11%
  
      }
  
  }
  
  
  
  @media screen and (max-width: 320px) {
      .sidenav{
          top: 13%
  
      }
  
  
  
  }
  .local-ar{
    right: 50px;
    border-left: 1px solid #272a67;
  }
  .sidenav{
      z-index: 1000;
      display: none;
      height: 100%;
      width: 220px;
      position: fixed;
      z-index: 1004;
      top: 0;
  
      color: #C31E2C;
      background-color: #000;
      overflow-x: hidden;
      padding-top: 60px;
  
      box-shadow: 0px 0px #a7bcd6;
  }
  .langimg{
      width: 16px
  }
  
  .local-ar a {
      padding: 16px 36px 8px 6px;
      text-decoration: none;
      font-family: "JF Flat Regular";
      font-weight: 500;
      font-size: 16px;
      color: #272a67;
      text-align: right;
      display: block;
  }
  
  .local-ar a:hover {
      color: #f1f1f1;
      background-color: #969ecf;
  }
  
  .sidenav:open{
      color: #f1f1f1;
      background-color: #969ecf;
  }
  
  
  .local-ar a p{
      font-size: 12px;
  }
  
  
  .tab-ar {
      float: right;
      position: fixed;
      background-color: #f7de02;
      width: 50px;
      height: 100%;
      margin-top: -0.1%;
      right: 0;
  }
  
  .bar-ar{
    font-size: 30px;
      cursor: pointer;
      padding-left:9px;
      color: #272a67;
  }
  
  
  .smart-ar{
      position: fixed;
   font-family: 'Maven Pro', sans-serif;
   width: 233px;
   height: 214px;
   bottom: 3%;
   z-index: 0;
   /* -webkit-transform: rotate(90deg); */
   transform: rotate(90deg);
   margin-top: 28%;
   color: #272a67;
   right: 0;
      float: right;
  }
  .r-ar{
      display: none;
  }
  
  /* responsive */
  @media screen and (max-width: 1351px) {
  
  
    .smart-ar{
      margin-top: 20%;
    }
  
  }
  @media screen and (max-width: 1258px) {
  
  
    .smart-ar{
      margin-top: 22%;
    }
  
  }
  @media screen and (max-width: 1160px) {
  
  
    .smart-ar{
      margin-top: 23%;
    }
  
  }
  
  
  @media screen and (max-width: 1070px) {
  
  
    .smart-ar{
      margin-top: 26%;
    }
  
  }
  
  @media screen and (max-width: 900px) {
  
  
    .smart-ar{
      margin-top: 26%;
    }
  
  }
  
  @media screen and (max-width: 786px) {
  
    .smart-ar{
      margin-top: 35%;
    }
  
  
  
  
  }
  
  @media screen and (max-width: 686px) {
      .langimg {
          width: 14px;
      }
  
      .tab-ar{
          width: 100%;
          height: 80px;
          margin-top: -1px;
                z-index: 995;
          background-color: #ffffff;
          position: fixed;
      }
      .smart-ar{
          display: none;
  
      }
      .bar-ar{
             font-size: 30px;
      cursor: pointer;
      padding-left: 86%;
      color: #272a67;
      }
      .sidenav{

          display: none;
          height: auto;
          width: 100%;
          position: fixed;
          top: 11%;
          right:  0px;
          background-color: white;
          overflow-x: hidden;
          padding-top: 40px;
          padding-bottom: 3px;
         
          border-left:  1px solid #272a67;
          box-shadow: 2px 0px #a7bcd6;
          z-index: 1000;
      }
      .r-ar {
          position: fixed;
          margin-top: -13%;
          display: block;
          width: 22%;
          right: 64%;
  
      }
      .local-ar a {
           padding: 10px 10px 10px 36px;
          font-size: 13px;
      }
  }
  @media screen and (max-width: 480px) {
      .sidenav{
          top: 9%;
  
      }
  
  }
  
  @media screen and (max-width: 420px) {
      .sidenav{
          top: 9%
  
      }
      .r-ar {
          position: fixed;
          margin-top: -16%;
          display: block;
          width: 26%;
          right: 64%;
      }
       .tab-ar {
         
          padding-top: 8px;
         
      }
  
  }
  
  @media screen and (max-width: 375px) {
  
     .sidenav{
          top: 9%
  
      }
  
  }
  
  
  @media screen and (max-width: 360px) {
     .sidenav{
          top: 11%
  
      }
  
  }
  
  
  
  @media screen and (max-width: 320px) {
      .sidenav{
          top: 13%
  
      }
  
  
  
  }
   /* end navbarstyle  */




.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8a6d3b;
	background-color: #fff;
	border-color: #faebcc;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
	background-color: #ebccd1;
	border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #a94442;
	background-color: #fff;
	border-color: #ebccd1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}

.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
