
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>New Age Fitness</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Indoctrination Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script src="js/jquery.min.js"></script> 
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    
     <!-- font-awesome icons -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- //online-fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js" ></script>
    <script src="https://www.youtube.com/iframe_api"></script>

<script src="js/video.js"></script>

</head>
<style>
    body{
        overflow: hidden;
    }
    .overlay-banner {
        background:transparent;
            position:absolute;
            min-width:100%;
            min-height:50%;
            z-index:99; 
            align-items: center;
            
            top: 0; left: 0;
            
          
}
.button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  
}
.button:hover {
    fill: white; 
  }
.defs {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

iframe {
  float: left;
  width: 300px;
  height: 200px;
}

.buttons {
  padding: 1rem;
  background: #f06d06;
  float: left;
}

body {
  padding: 1rem;
}
</style>

<body>
    <input type="hidden" id="isVideoPlay" name="isVideoPlay" value="0"/>
<!-- banner -->
<div id="overlay" class="row inner-banner overlay-banner container-fluid">
    
    
    <!-- <div id="controls"  style="overflow:hidden; width:80px;
    height:80px;
    background-color:#000;
    border-radius:100%;
    line-height:80px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;padding-top: 0;margin-left: 47%;">
        <a  id="play" href="#" style="color: #fff;"><i class="fas fa-play"></i></a>
        <a class="col-sm-3" id="stop" href="#" style="color: #C31E2C;"><i class="fas fa-pause"></i></a>
        
    </div> -->

</div>
    <div ng-app="myApp" ng-controller="myCtrl">
        <iframe id="popup-youtube-player" src={{src}} allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  autoplay="true" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; ">
            Your browser doesn't support iframes
        </iframe>
    </div>
<!-- //header -->
        
   
	
</body>
<script>
    $( document ).ready(function() {
        $('#stop').hide();
        $('#play').show();
        // $("#controls").show();
       
    })
    $("body" ).keyup(function(e) {
        if(e.keyCode == 32){
        if($("#isVideoPlay").val() == 0){

        $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');    
        $("#controls").hide();
        $("#isVideoPlay").val(1) ;

    }else{
        $("#controls").show();
        $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*'); 
        $("#isVideoPlay").val(0) ;
    }
}
        });
    $("#overlay" ).click(function() {
        if($("#isVideoPlay").val() == 0){

        $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');    
        $("#controls").hide();
        $("#isVideoPlay").val(1) ;

    }else{
        $("#controls").show();
        $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*'); 
        $("#isVideoPlay").val(0) ;
    }
        
        });
// $('#stop').on('click', function() {
//     $('#play').show();
//     $('#stop').hide();
//     //$('#popup-youtube-player').stopVideo();
   
// });
// $('#play').on('click', function() {
//     if($("#isVideoPlay").val() == 0){
//         $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');    
//         $("#isVideoPlay").val(1) ;
//     }else{
//         $('#popup-youtube-player')[0].contentWindow.postMessage('{"event":"command","func":"' + 'stopVideo' + '","args":""}', '*'); 
//         $("#isVideoPlay").val(0) ;
//     }
//     //$('#popup-youtube-player').stopVideo();
//     //  
//     $('#play').hide();
//     $("#controls").hide();

// });

// $( "#controls" ).hover(function() {
//     $('#stop').show();
// });
</script>
</html>