
<!DOCTYPE html>
<html lang="en">
<head>
<title>New Age Fitness</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rotate Under Construction template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- //Custom Theme files -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Montserrat+Alternates:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<!-- //web font -->
<!-- jS --> 
<script src="js/jquery.min.js"></script> 
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script src="js/angular.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/3.0.0/toaster.min.js"></script>
<script src="js/index.js"></script>
<script src="js/common.js"></script>
<!-- //js -->
</head>
<style>
	.form-control1 {
		width: 50%;
		margin-top: 8%;
		margin-left: 30%;;
    background-color: #C31E2C;
    color:#fff;
    border-color: #C31E2C;
    -webkit-box-shadow: 0 3px 5px #333;
	-moz-box-shadow: 0 3px 5px #333;
	box-shadow: 0 3px 5px #333;
}
.form-control1:active{
    background-color: #C31E2C;
    color:#fff;
    border-color: #C31E2C;
    -webkit-box-shadow: 0 3px 5px #333;
	-moz-box-shadow: 0 3px 5px #333;
	box-shadow: 0 3px 5px #333;
}
.form-control1:focus{
    background-color: #C31E2C;
    color:#fff;
    border-color: #C31E2C;
    -webkit-box-shadow: 0 3px 5px #333;
	-moz-box-shadow: 0 3px 5px #333;
	box-shadow: 0 3px 5px #333;
}

</style>
<body ng-app="myApp" ng-controller="myCtrl">
	<toaster-container></toaster-container>
	
	<!-- main -->
	<div class="container-fluid">
	<a href="stay.html" class="float">
		<label class="my-float">Stay Safe</label>
	
	</a>
		
		<div class="row">
			<div class="col-sm-12 main-agile">
				<!-- <div class="topnav">
					
					<div class="col-sm-12" id="myLinks">
					
					<a href="#news">News</a>
					<a href="#contact">Contact</a>
					<a href="#about">About</a>
				</div>
				<a href="javascript:void(0);" class="icon" onclick="myFunction()">
					<i style="color: #C31E2C;" class="fa fa-bars"></i>
				</a> -->
				
				<!-- <h1>New Age Fitness</h1> -->
				<div class="row col-sm-12 ">
					<div class="col-sm-6 middle logoBackground logoWidth">
						<img src="images/logo.png" alt="Image description" id="logo" />
						
					</div>
					<div class="col-sm-2 selectAbsolute-en hide">
						<select class="form-control   form-control1 form-control1-en decorated" ng-model="lang" ng-change="langC()" id="sel1" >
                            <option   value="en"  class="flex-sm-fill text-sm-center" href="#collapseExample1" data-toggle="tab">English</option>
                            
                            <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2" data-toggle="tab">العربيه</option>
                            
                          
                        </select>
					</div>
					<div class="selectAbsolute-en show margin-top">
						
						<!-- <span class="badge badge-secondary"><a ng-click="langC()">EN</a>/<a ng-click="langC()">AR</a></span> -->
						<select class="form-control selectLang  decorated" ng-model="lang" ng-change="langC()" id="sel1" >
                            <option   value="en"  class="flex-sm-fill text-sm-center" href="#collapseExample1" data-toggle="tab">En</option>
                            
                            <option value="ar" class="flex-sm-fill text-sm-center  " href="#collapseExample2" data-toggle="tab">ع</option>
                            
                          
                        </select>
					</div>
					
				</div>
				<div class="col-sm-4  w3ls-right1">
					<div class="login-w3l">	
						<div class="top-img-agileits-w3layouts">
							<h2 class="sub-head-w3-agileits">New Age Fitness</h2>
						</div>			
						<div class="login-form">
							<nav class="nav nav-pills  flex-sm-row">
								<a  class="flex-sm-fill text-sm-center nav-link active" href="#a" data-toggle="tab">Register</a>
								<a class="flex-sm-fill text-sm-center nav-link" href="#b" data-toggle="tab">Login</a>
								
							</nav>
							
							<div class="tab-content" style="padding-top: 1em;">
			
								<form class="tab-pane active" id="a"  action="#" method="post" >
									<input ng-model="objRegister.firstName" type="text" name="Name" placeholder="First Name*" ng-class="borderRed:Ferror==true"/>
									<input ng-model="objRegister.lastName" type="text" name="Name" placeholder="Last Name*"  />
									
									<input ng-model="objRegister.email" type="email" name="Email" placeholder="Email*"  />
									<input ng-model="objRegister.password" type="password" name="Password" placeholder="Password*"  />
									<input ng-model="objRegister.mobile" type="number" name="PhoneNo" placeholder="Mobile*"/>
									<!-- <input ng-model="objRegister.birthdate" type="date" name="number" placeholder="birthdate" ></input> -->
									<input ng-model="objRegister.birthdate" type="number" name="number" placeholder="Age" ></input>
									<select id="mySelect"   class="form-control" ng-model="objRegister.strCountry" data-show-content="true" id="exampleFormControlSelect1">
										<option  value="0" selected>--select Nationality--</option>
										<option  ng-repeat="obj in arrCountry" value="{{obj.calling_code+'-'+obj.country}}"  >({{obj.calling_code}}) - {{obj.country}}</option>
										
									  </select>
									</br>
									
									<input ng-model="objRegister.gender" value="male" type="radio" id="test1" name="radio-group" >
									<label for="test1" style="color: aliceblue;">Male</label>
									<input ng-model="objRegister.gender"value="female" type="radio" id="test2" name="radio-group">
									<label for="test2" style="color: aliceblue;">Female</label> 
									<!-- <input name="submit" type="button" ng-click="register()" value="Register"> -->
									<!-- <label ng-show="error == true">{{message}}</label> -->
									<br/>
									
									<label ng-if="ferror==true" style="color:#C31E2C">{{message}}</label>
									<button type="button" ng-click="register()" ><div class="spinner-border text-light" ng-show="registerSpinner == true"></div><div ng-show="registerSpinner == false">Register</div></button>
								</form>
								
								
								<form id="b" action="#" method="post" class="tab-pane">
									
									<input style="width: 100%;" ng-model="objLogin.email" type="email" name="Email" placeholder="Email" required="" />
									<input style="width: 100%;" ng-model="objLogin.password" type="password" name="Password" placeholder="Password" required="" />
									<a class="handView" style="color:#C31E2C;font-size: 20px;" ng-click="openResetD()"><label>Forgot Password?</label
										></a>

									<button type="button"  ng-click="login()" ><div class="spinner-border text-light" ng-show="loginSpinner == true"></div><span ng-show="loginSpinner == false">Login</span></button>
									
									<!-- <input name="submit" type="button" ng-click="login()"  value="Login"> -->
									
								</form>
									
							</div>
						</div>
				
					</div>	
				</div>
				
			</div>
			
		</div>
		
		<div class="row" style="background-color: #000;">
				
			<div class="col-sm-12 middle"><h2 style="color:#C31E2C;font-size: 3em !important">NAF Virtual Fitness</h2></div>
			<div class="col-sm-12 ">
				
				<div class="col-sm-10 middle">
					<p style="color:#fff">A digital platform FREE FOR PUBLIC, that offers workout routines by NAF qualified fitness professionals that cater the needs of different segments of the society with different fitness levels. Follow Live Classes to suit your fitness routine and work out at home.

						STAY STRONG, STAY POSITIVE! 
						
						A Corporate Social Responsibility Initiative by New Age Fitness Group.
						
						</p>
				</div>
			</div>
			<!-- <div class="margin">

			</div> 
			<div class="col-sm-12 middle"><h2 style="color:#C31E2C;font-size: 3em !important">Group Exercise</h2></div>
			<div class="col-sm-12 ">
				
				<div class="col-sm-10 middle">
					<p style="color:#fff">The biggest online Group Exercise community to achieve physical, emotional and spiritual wellbeing. Strengthen your body and mind. Choose your preferred Group Exercise program from various schedules that suit your interest or fitness routines.
						</p>
				</div>
			</div>
			<div class="col-sm-12 middle"><h2 style="color:#C31E2C;font-size: 3em !important">Programs</h1></div>
			<div class="row col-sm-8 middle">
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(1)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/banner9.jpg" alt="">
					  
					  <div class="overlay">
						<h2>My Perfect Shape</h2>
								<p><a ng-click="openModal(1)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(2)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/banner2.jpg" alt="">
					  <div class="overlay">
						<h2>FuncFit</h2>
								<p><a ng-click="openModal(2)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(3)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/banner1.jpg" alt="">
					  <div class="overlay">
						<h2>HIIT/Core</h2>
								<p><a ng-click="openModal(3)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(4)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/zumba1.jpg" alt="">
					  
					  <div class="overlay">
						<h2>Strong by Zumba</h2>
								<p><a ng-click="openModal(4)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>

			</div>

			<div class="row col-sm-8 middle">
				
				
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(5)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/zumba2.jpg" alt="">
					  <div class="overlay">
						<h2>Zumba</h2>
								<p><a ng-click="openModal(5)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(6)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/bollywood.jpg" alt="">
					  <div class="overlay">
						<h2>Bollywood</h2>
								<p><a ng-click="openModal(6)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(7)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/y2.jpg" alt="">
					  
					  <div class="overlay">
						<h2>Yoga</h2>
								<p><a ng-click="openModal(7)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(8)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/palites.jpg" alt="">
					  <div class="overlay">
						<h2>Pilates</h2>
								<p><a ng-click="openModal(8)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
			</div>
			<div class="row col-sm-8 middle">
				
				
				  
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(9)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/latin.jpg" alt="">
					  <div class="overlay">
						<h2>Latin Fitness</h2>
								<p><a ng-click="openModal(9)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(10)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/box.jpg" alt="">
					  
					  <div class="overlay">
						<h2>BoxFit</h2>
								<p><a ng-click="openModal(10)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(11)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/st.jpg" alt="">
					  <div class="overlay">
						<h2>Core/Stretch</h2>
								<p><a ng-click="openModal(11)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(12)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/latin.jpg" alt="">
					  <div class="overlay">
						<h2>Dancex</h2>
								<p><a ng-click="openModal(12)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>

			</div>
			
			<div class="col-sm-12 middle"><h2 style="color:#C31E2C;font-size: 3em !important">FITNESS</h2></div>
			<div class="col-sm-12 ">
				
				<div class="col-sm-10 middle">
					<p style="color:#fff">Fitness programs designed by specialized and qualified fitness professionals to cater the needs of different fitness levels – beginners, intermediate and experts.
						Choose the Fitness Program that suits your fitness level.
						
						</p>
				</div>
			</div>
			<div class="col-sm-12 middle"><h2 style="color:#C31E2C;font-size: 3em !important">Programs</h1></div>
			<div class="row col-sm-8 middle">
				
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(13)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/st.jpg" alt="">
					  
					  <div class="overlay">
						<h2>STRENGTH & CONDITIONING</h2>
								<p><a ng-click="openModal(13)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(14)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/core.jpg" alt="">
					  <div class="overlay">
						<h2>JUST CORE</h2>
								<p><a ng-click="openModal(14)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(15)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/zumba1.jpg" alt="">
					  <div class="overlay">
						<h2>HIIT</h2>
								<p><a ng-click="openModal(15)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>
				  
				  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-click="openModal(16)">
					<div class="hovereffect">
					  <img class="img-responsive" src="images/f2.jpg" alt="">
					  
					  <div class="overlay">
						<h2 >FIT FAMILY</h2>
								<p><a ng-click="openModal(16)">CLICK HERE TO DETAILS</a></p> 
					  </div>
					</div>
				  </div>

			</div> -->

			<!-- <div class="col-sm-12 middle">
				
					<iframe width="420" height="315"
					src="https://www.youtube.com/embed/nuiPxx5cBOY">
					</iframe>
			
					<iframe width="420" height="315"
					src="https://www.youtube.com/embed/nuiPxx5cBOY">
					</iframe>
					
				
					<iframe width="420" height="315"
					src="https://www.youtube.com/embed/nuiPxx5cBOY">
					</iframe>
				
			</div> -->
			
			<div class="col-sm-12 margin"></div>
		</div>
	
		<div class=" col-sm-12 copyright" style="background-color: #000;">
			<p> © 2020 New Age Fitness  . All rights reserved </p>
		</div>
	</div>
	<!-- <div id="myModal" class="modal" tabindex="-1" role="dialog" >
		<div class="modal-dialog" role="document">
		  <div class="modal-content" style="background-color: dimgrey;">
			<div class="modal-header">
			  <h5 class="modal-title">Check your email inbox for the verification link </h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<input class="codeInput" ng-model="objVerify.code" type="text" name="Name" placeholder="Code"  />
			</div>
			<div class="modal-footer">
			  <button type="button" ng-click="verify()" class="modalbutton"><div ng-show="verifySpinner==true" class="spinner-border text-light"></div><span ng-show="verifySpinner==false">Verify</span></button>
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div> -->
	  <div id="LogD" class="modal" tabindex="-1" role="dialog" >
		<div class="modal-dialog" role="document">
		  <div class="modal-content" style="background-color: dimgrey;">
			<div class="modal-header">
			  <h5 class="modal-title">Enter your email address and new password to send the reset password email</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<input class="codeInput" ng-model="objReset.email" type="text" name="email" placeholder="Email"  />
				<input class="codeInput" ng-model="objReset.newpassword" type="password" name="newpassword" placeholder="New Password"  />
			</div>
			<div class="modal-footer">
			  <button type="button" ng-click="resetPassword()" class="modalbutton"><div ng-show="resetSpinner==true" class="spinner-border text-light"></div><span ng-show="resetSpinner==false">Send Reset Mail</span></button>
			  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
			</div>
		  </div>
		</div>
	  </div>
	  

	  <div id="myDModal" class="modal" tabindex="-1" role="dialog" >
		<div class="modal-dialog" role="document">
		  <div class="modal-content" style="background-color: dimgrey;">
			<div class="modal-header">
			  <h5 class="modal-title" style="color: #fff;">About {{className}} Class </h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<p style="color: #fff;">{{MDetails}}</p>
			</div>
			<div class="modal-footer">
			  <!-- <button type="button" ng-click="verify()" class="modalbutton"><div ng-show="verifySpinner==true" class="spinner-border text-light"></div><span ng-show="verifySpinner==false">Verify</span></button> -->
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>
	




	  <script>
		$( document ).ready(function() {
		$('.dropdown-toggle').dropdown()	
		})
		function myFunction() {
		  var x = document.getElementById("myLinks");
		  if (x.style.display === "block") {
			x.style.display = "none";
		  } else {
			x.style.display = "block";
		  }
		}
		</script>	  
</body>

</html>